body {
  background-image: url("/background.jpg");
  background-size: cover;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-weight: 600;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
